# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
**/xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods (если будешь использовать)
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
